- add_to_breadcrumbs _("Security Configuration"), project_security_configuration_path(@project)
- breadcrumb_title _("DAST Configuration")
- page_title _("DAST Configuration")

%h1= _("DAST Settings")
